<html>

<head>
<link rel="stylesheet" href="CSS/Question1.css" />
</head>

<header>
	<div id="headerALign">
		<span id="homeSignUp">Home |</span> <a
			href="../HTML_Session_2/signUpForm.html" target="_blank">SignUp/Login</a>
	</div>
</header>
<body>
	<table id="table_header">
		<tr>
			<td><img src="Image/html.png" height="50"></td>
			<td align="right"><a id="anchor" href="https://www.google.com/"
				target="_blank">Home</a> <a id="anchor"
				href="https://www.google.com/" target="_blank">About</a> <a
				id="anchor" href="https://www.google.com/" target="_blank">Product</a>
				<a id="anchor" href="https://www.google.com/" target="_blank">Gallery</a>
				<a id="anchor" href="https://www.google.com/" target="_blank">Contact</a>
			</td>
		</tr>
	</table>
	<h1>Worlds Shortest horror Story</h1>
	<h2>Connection not found</h2>
</body>
</html>