<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>Dashboard</title>
</head>
<body>
	<div class="container">
		<h1>Admin dashboard</h1>
		<a th:href="@{../admin/projects}">All Projects</a> <br /> <a
			th:href="@{../admin/projects/add}">Add project</a> <br /> <a
			th:href='@{../admin/employees/add}'>Add Employee</a> <br /> <a
			th:href='@{../admin/employees}'>All Employee</a> <br /> <a
			th:href="@{./skills}">Add skills</a> <br /> <a th:href="@{./jobs}">Add
			job title</a> <br> <a th:href="@{./search}">Search Employee</a><br />
	</div>
</body>
</html>