<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form action="">

		Address Id <input type="text" name="add_id" required="required" /> <br />
		Address Line 1 <input type="text" name="add1" /> <br /> Address Line 2
		<input type="text" name="add2" /> <br /> City <select name="city">
			<option>Jaipur</option>
			<option>Jhodpur</option>
			<option>Ajmer</option>
		</select> <br /> State <select name="state">
			<option>Rajasthan</option>
		</select> <br /> Pincode <input type="text" name="pincode" /> <br />
	</form>
</body>
</html>