<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="">

		Job Detail Id <input type="text" name="job_detail_id" required="required" /> <br />
		Date of Joining <input type="date" name="doj" /> <br /> 
		Total Experience<input type="number" name="tot_exp" /> <br />
		Job Title <select name="job_title">
			<option>Software Developer</option>
			<option>Senior Software Developer</option>
			<option>Tech Lead</option>
		</select>
		<br/>
		Reporting Manager <select name="reporting_manger">
			<option>Ram</option>
			<option>Shubham Joshi</option>
			<option>Vaibhav Gautam</option>
		</select>
		<br/>
		Team Lead <select name="team_lead">
			<option>Rajendra</option>
			<option>Rahul</option>
			<option>Jitendra</option>
		</select>
		<br/>
		Current Project Id <select name="current_project_id">
			<option>1</option>
			<option>2</option>
			<option>3</option>
		</select>
		<br/>
		<input type="submit" value="Submit"/>
</form>		
</body>
</html>