    .container {
        background-image: url("./images/images/homebg.png")
    }
    .top {
        margin: 10 20 10 150;
        flex: 50%;
    }
    .top-logo {
        padding-top: 20;
    }

    li {
        display: inline-block;
        width: auto;
        padding: 0 10;
        list-style: outside none none;
        font-size: 20px;
    }

    a {
        color: white;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .container-body-part {
        flex: 50%;
    }

    .container-body {
        display: flex;
    }

    .download-button {
        width: 70px;
        background: #FC6A42;
        padding: 20px;
        color: white;
        margin-right: 10px;
        margin-left: 20%;
        border-radius: 5px;
    }

    .feature-button {
        width: 70px;
        background: #4466C9;
        padding: 20px;
        color: white;   
        border-radius: 5px;

    } 

    .container-body-part h1{
        color: white;
        font-size: 78px;
        margin-left: 20%;
    }

    body {
        background-image: url("./images/images/bodybg.png");
        padding: 0px;
        margin: 0px;
    }

    .header-center{
        text-align: center;
        color: #648CFF;
        margin-bottom: 5px;
    }
    #center-label{
        display: block;
        color: grey;
        text-align: center;
        
    }
    .center-image{
        display: block;
        margin: 0 auto; 
        width: 50%;
    }
    .text-content{
        font-size: 24;
        color: grey;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 75%;
        display: block
    }
    .heading-space{
        margin: 20 0 100 0;
    }


    h2{
        font-size: 40px;
    }

    .background{
        position: absolute;
        z-index: 0;
        display: block;
        color: lightgrey;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        
    }

    .sunny-bg-text{
        top: 3200px;
        left: 1270;  
        font-size: 230px;
    }
    .rainy-bg-text{
        top: 4070px;
        margin-left: 30px; 
        font-size: 230px;
    }
    .cloudy-bg-text{
        top: 2350px;      
        font-size: 200px;
    }
    .block-padding{
        padding: 100 50 500 50;
    }

    #content{
        position:absolute;
        z-index:1;
    
    }


    .contents {
        padding: 0 200 0 200;
        }
        
        .contents h1 {
        color: #648CFF;
        text-align: center;
        }
        
        .contents p {
        color: #797979; 
        }
        
        .contentInformationDataSubDiv {
        margin-right: 20px;
        display: flex;
        }
        
        .content-sub-heading {
        color:#83878D;
        font-size: 18px;
        text-align: center;
        }
        
        #contentInformationData {
        display: flex;
        margin: 100 0;
        }
        
        #contentBottomImage {
        width: 70%;
        margin: 0 auto;
        }
        
        .featureImage {
        width: 80px;
        margin-right: 15;
        }
        
        .featureInformation {
        display: inline-block;
        }

        .reviews{
            font-size: 34;
            color:black;
        }

        .footer-bg{
            background-image: url("images/images/downloadbg.png");
       }
.footer{
    padding: 100 200 0 200;
}
        .footer-sub-heading{
            color: white;
            font-size: 26px;
        }
        .footer-heading{
            color: white;
                font-size: 48px;
        }
        .store-icon{
            padding: 15px;
        }