<head>
  <title>User Management System</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
</head>

<body>
  <header class="p-4 mb-2">
    <h1>Shopping Cart</h1>
  </header>
  <section class="card col-9">
    <div class="flex-row p-4">
      <span class="card-body col-6">
        You have {{length}} items in your shopping cart.
      </span>
      <span class="card-body">
        <span class="btn btn-secondary">
          Clear Shopping Cart
        </span>
      </span>
    </div>


    <table class="row">
      <th class="col">

      </th>
      <th class="col">
        Product
      </th>
      <th class="col">
        Quantity
      </th>
      <th class="col">
        Price
      </th>
    </table>
    <table *ngFor="let item of cartItemArray">
      <tr class="row" *ngIf="true">
        <td class="col">
          {{item.id}}
        </td>
        <td class="col">
          {{item.productName}}
        </td>

        <td class="col">
          <!-- <a class="btn btn-secondary col-3 text-white" (click)=quantityDecrease(item.id)>-</a> -->
          {{item.quantity}}
          <!-- <a class="btn btn-secondary col-3 text-white" (click)=quantityIncrease(item.id)>+</a> -->

        </td>
        <td class="col">
          {{item.price}}
        </td>
      </tr>
      <tr>

      </tr>
    </table>

  </section>
</body>